*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #f6f8f9;
}

body {
    background-color: #f6f8f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */
.bg-header {
    background-color: #ffffff;
    width: 200em;
    height: 4em;
}


#image-logo {
    padding: 0.4em;
    padding-left: 1.5em;
}

#logotipo {
    display: inline-block;
    vertical-align: top;
    font-size: 3rem;
}

/* MAIN */
.container {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    margin-top: 4em;
    background-color: white;
    padding-left: 2em;
}

/* buttons */
.buttons-add {
    width: 100%;
    height: 60px;
    float: left;
    background-color: white;
  }

#add-task {
    width: 6em;
    height: 2.5em;
    float: left;
    margin-top: 1em;
    /* margin-left: 2em; */
    color: white;
    background-color: #47adf1;
    border-radius: 0.6em;
    border: none;
}

#add-section {
    width: 7.5em;
    height: 2.5em;
    margin-top: 1em;
    margin-left: 1em;
    color: grey;
    border-radius: 0.6em;
    border: 1px solid grey;
}

/* List */
.content {
    padding: 5em 2.5em;
    color: #444851;
}
ul {
    list-style-type: none;
}

.sections-list > li {
    margin-bottom: 2em;
}

.content h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.title-section {
    padding-top: 1em;
}
.sections-list li {
    margin-bottom: 1rem;
}

.content li.text-task {
    font-size: 1.2rem;
}

.circle {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    border: 1px solid green;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.check {
    color: green;
    border-color: green;
}

.cross {
    color: red;
    border-color: red;
}

.labels {
    font-size: .8rem;
    color: white;
    padding: .4em .6em;
    border-radius: 10px;
}

.label-a {
    background-color: #45abea;
}

.label-b {
    background-color: violet;
}

.label-c {
    background-color: green;
}


